{% extends 'mail/mail.html.twig' %}

{% block body %}

    <p>Sign Up confirm link:</p>

    {% set url = url('user.confirm.token', {'id': id, 'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
