{% extends 'auth.html.twig' %}

{% block title %}Set Password!{% endblock %}

{% block body %}
    <p class="login-box-msg">Set password</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
